.Help {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Help .help-page {
  width: max(50%, min(900px, 90vw));
}

.Help .help-page {
  text-align: left;
}
