.CsvImport {
  width: auto;
  height: auto;
}

.CsvImport .fileSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.CsvImport .fileSelector input {
  width: min(95%, 275px);
}

.CsvImport .invalidDescription {
  padding: 20px;
}
